.jobs-menu {
  li {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &.active,
    &:hover {
      &::before {
        background: var(--accent);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      transition: all .4s;
    }
    &.active {
    }
  }
}
