.jobs-view {
  padding: 6rem 0;
  background: #EEF5FA;
  &__title {
    margin-bottom: 3rem;
    text-align: center;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  &__menu {
    width: 30%;
  }
  &__body {
    width: 70%;
  }
}
